webservice/src/main/java/com/demo/schma/Studnet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.example.org/Studnet" 
 xmlns:tns="http://www.example.org/Studnet" 
 elementFormDefault="qualified">
    <!-- 定义一个复合类型Student -->
 	<element name="Student">
 		<complexType>
 			<sequence maxOccurs="unbounded">
 				<element name="id" type="int"/>
 				<element name="name" type="string"/>
 				<element name="createTime" type="dateTime"></element>
 			</sequence>
 		</complexType>
 	</element>
 <!-- 
 
 	schem的规范：
 	1.所有的schmea
 
  -->
</schema>